<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!isEdit">{{ 'checklist.itemedit.title' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="close()">{{ 'global.btn.close' | translate }}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>{{ 'checklist.itemedit.name' | translate }}</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <!-- SHOPPING -->
        <ion-item *ngIf="checklistType == 1">
            <ion-label>{{ 'checklist.itemedit.shopping.quantity' | translate }}</ion-label>
            <ion-input type="number" name="quantity" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-item *ngIf="checklistType == 1">
            <ion-label>{{ 'checklist.itemedit.shopping.value' | translate }}</ion-label>
            <ion-input type="number" name="value" [(ngModel)]="value" step="0.01"></ion-input>
        </ion-item>
        <!-- COMMITMENT -->
        <ion-item *ngIf="checklistType == 2">
            <ion-label>{{ 'checklist.itemedit.commitment.date' | translate }}</ion-label>
            <ion-input type="date" name="date" [(ngModel)]="date"></ion-input>
        </ion-item>
        <!-- ACCOUNT -->
        <ion-item *ngIf="checklistType == 3">
            <ion-label>{{ 'checklist.itemedit.account.moviment' | translate }}</ion-label>
            <ion-select [(ngModel)]="moviment" placeholder="{{ ((moviment == 1) ?  'checklist.itemedit.account.moviment.gain' : ((moviment == 2) ? 'checklist.itemedit.account.moviment.expense' : 'checklist.itemedit.account.moviment.none')) | translate }}">
                <ion-option value="0">{{ 'checklist.itemedit.account.moviment.none' | translate }}</ion-option>
                <ion-option value="1">{{ 'checklist.itemedit.account.moviment.gain' | translate }}</ion-option>
                <ion-option value="2">{{ 'checklist.itemedit.account.moviment.expense' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="checklistType == 3">
            <ion-label>{{ 'checklist.itemedit.account.duedate' | translate }}</ion-label>
            <ion-input type="date" name="dueDate" [(ngModel)]="dueDate"></ion-input>
        </ion-item>
        <ion-item *ngIf="checklistType == 3">
            <ion-label>{{ 'checklist.itemedit.account.value' | translate }}</ion-label>
            <ion-input type="number" name="value" [(ngModel)]="value" step="0.01"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <div>
        <button ion-button full (click)="save()">{{ 'global.btn.save' | translate }}</button>
    </div>
</ion-footer>
