<ion-header>
    <ion-navbar>
        <ion-title>{{ (checklist | async)?.name }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only menuToggle="TipMenu">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding #content>
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Informe um item a ser adicionado" [(ngModel)]="itemValue"></ion-input>
            <!--<button ion-button clear item-right (click)="searchList()"><i class="fa fa-search" style="font-size: large"></i></button>-->
        </ion-item>
        <ion-item>
            <button ion-button full (click)="createChecklistItem(itemValue)">Adicionar na Lista</button>
        </ion-item>
        <ion-item *ngFor="let item of checklistItems | async">
            <!-- DEFAULT -->
            <ion-label *ngIf="!(checklist | async)?.type || (checklist | async)?.type == 0">
                <span class="fdcl-checklist-item-label">{{ item.name }}</span>
            </ion-label>
            <!-- SHOPPING -->
            <ion-label *ngIf="(checklist | async)?.type == 1">
                <span class="fdcl-checklist-item-label fdcl-checklist-item-shopping-quantity" *ngIf="item.quantity">{{ item.quantity | number:'1.0-3' }}&nbsp;x</span>
                <span class="fdcl-checklist-item-label">{{ item.name }}</span><br/>
                <span class="fdcl-checklist-item-label fdcl-checklist-item-shopping-value" *ngIf="item.value">
                    {{ item.value | number:'1.2-2' }} <span *ngIf="item.quantity">(Total (x{{ item.quantity | number:'1.0-3' }}): {{ item.value * item.quantity | number:'1.2-2' }})</span>
                </span>
            </ion-label>
            <!-- COMMITMENT -->
            <ion-label *ngIf="(checklist | async)?.type == 2">
                <span class="fdcl-checklist-item-label">{{ item.name }}</span><br/>
                <span class="fdcl-checklist-item-label fdcl-checklist-item-commitment-date" *ngIf="item.date">
                    {{ item.date | date }}
                </span>
            </ion-label>
            <!-- ACCOUNTS -->
            <ion-label *ngIf="(checklist | async)?.type == 3">
                <span *ngIf="item.moviment">
                    <i class="fa fa-arrow-up fdcl-green" *ngIf="item.moviment == 1"></i>
                    <i class="fa fa-arrow-down fdcl-red" *ngIf="item.moviment == 2"></i>
                </span>
                <span class="fdcl-checklist-item-label">{{ item.name }}</span><br/>
                <span class="fdcl-checklist-item-label fdcl-checklist-item-commitment-date" *ngIf="item.value">
                    {{ item.value | number:'1.2-2' }}
                </span>
                <span class="fdcl-checklist-item-label fdcl-checklist-item-commitment-date" *ngIf="item.value && item.dueDate">
                    -
                </span>
                <span class="fdcl-checklist-item-label fdcl-checklist-item-commitment-date" *ngIf="item.dueDate">
                    {{ item.dueDate | date }}
                </span>
            </ion-label>
            <!-- END TYPES -->
            <ion-checkbox [ngModel]="item.checked" (click)="toggleChecklistItemChecked(item)"></ion-checkbox>
            <button ion-button clear item-right (click)="editChecklistItem(item)"><i class="fa fa-pencil" style="font-size: large"></i></button>
            <button ion-button clear item-right (click)="removeChecklistItem(item)"><i class="fa fa-trash" style="font-size: large"></i></button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <div>
        <button ion-button full (click)="shareChecklist()">Compartilhar Lista</button>
    </div>
</ion-footer>

<ion-menu id="TipMenu" persistent="true" side="right" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="editChecklist()">
                Editar Lista
            </button>
            <button ion-item menuClose (click)="clearChecklist()">
                Limpar lista
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
