checklist {
    .fdcl-checklist-item-label {
        overflow: visible !important;
        text-overflow: initial !important;
        white-space: initial;
    }
    .fdcl-checklist-item-shopping-quantity {
        font-size: 80%;
    }
    .fdcl-checklist-item-shopping-value {
        font-size: 80%;
        color: #333;
    }
    .fdcl-checklist-item-commitment-date {
        font-size: 80%;
        color: #333;
    }
    .fdcl-green {
        color: green;
    }
    .fdcl-red {
        color: red;
    }
    .fdcl-footer.copyright {
        text-align: center;
    }
}
