<ion-header>
    <ion-navbar>
        <ion-title>{{ 'app.name' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list [hidden]="items.length == 0">
        <ion-item>
            <ion-searchbar [(ngModel)]="filter" (ionInput)="filterItems()" placeholder="{{ 'global.lbl.search' | translate }}"></ion-searchbar>
        </ion-item>
        <ion-item *ngFor="let checklist of filteredItems" (click)="editList(checklist)">
            <ion-spinner *ngIf="!(checklist | async)?.name" color="primary" text-center name="crescent"></ion-spinner>
            <i class="fa fa-list fdcl-checklist-icon" *ngIf="(checklist | async)?.name && (!(checklist | async)?.type || (checklist | async)?.type == 0)"></i>
            <i class="fa fa-shopping-cart fdcl-checklist-icon" *ngIf="(checklist | async)?.name && (checklist | async)?.type == 1"></i>
            <i class="fa fa-calendar fdcl-checklist-icon" *ngIf="(checklist | async)?.name && (checklist | async)?.type == 2"></i>
            <i class="fa fa-money fdcl-checklist-icon" *ngIf="(checklist | async)?.name && (checklist | async)?.type == 3"></i>
            <span class="fdcl-checklist-label">{{ (checklist | async)?.name }}</span>
            <button ion-button clear item-right (click)="removeList(checklist)"><i class="fa fa-trash" style="font-size: large"></i></button>
        </ion-item>
    </ion-list>
    <div class="fdcl-nolist" [hidden]="items.length != 0">
        {{ 'home.nolists' | translate }}
        <img src="assets/img/arrows-choice.png" />
    </div>
</ion-content>

<ion-footer>
    <div class="fdcl-footer btn-left">
        <button ion-button full (click)="createChecklist()">{{ 'home.btn.newlist' | translate }}</button>
    </div>
    <div class="fdcl-footer btn-right">
        <button ion-button full (click)="importChecklist()">{{ 'home.btn.importlist' | translate }}</button>
    </div>
</ion-footer>
